
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header-1">
                        <img src="~/jpg/unicorn_w.png" style="height:100px">
                        <h1>DZIĘKUJEMY!</h1>
                    </div>
                    <form>
                        <div class="info">Potwierdzenie rezerwacji wysłaliśmy mailowo.<br>Do zobaczenia!</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>